[Unit]
Description=Tun2Socks Gateway
After=network-online.target shorewall.service shorewall6.service ufw.service firewalld.service
Wants=network-online.target nss-lookup.target

[Service]
Type=simple

ExecStart=/bin/bash -c '/etc/socksgw/tun2socks.sh start'

ExecStop=/bin/bash -c '/etc/socksgw/tun2socks.sh stop'

RemainAfterExit=yes

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
